{% for template in query_templates %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">

                <div class="row">
                    <div class="col-sm-9">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#{{ template }}">{{ template }}</a>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal"
                                data-target="#{{ template }}_modal">Delete
                        </button>
                    </div>
                </div>

            </h4>
        </div>

        <div id="{{ template }}" class="panel-collapse collapse">
            <div class="panel-body">
                {{ template.query }}
            </div>
        </div>
    </div>
{% endfor %}

<div class="panel panel-default">

    <div class="panel-heading">
        <h4 class="panel-title">

            <div class="row">
                <div class="col-sm-9">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#custom_template">Custom Template</a>
                </div>
            </div>

        </h4>
    </div>

    <div id="custom_template" class="panel-collapse collapse">
        <div class="col-sm-9">
            Wizard for custom BrandWatch query creation
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-success btn-lg" data-toggle="modal"
                    data-target="#custom_template_modal">Wizard
            </button>
        </div>
